doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/animate.css")
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css')
		title Food Maracaibo
	body
		section(class="full-height text-center" id="main-content")
			div(class="data")
				div(class="col-md-3 center-block quitar-float espacio-arriba")
					img(src="imgs/icecream-chocolate.png" class="animated fadeIn")
					h1(class="pacifico grande verde animated fadeIn retraso-0-5") Food Maracaibo
					div(class="animated fadeInDown retraso-1")
						h2 Ven come y diviértete
						p Somos una empresa formada por gente trabajadora
						a(href="/menu" class="espacio-derecha") Menú
						a(href="/menu") Contacto
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
	footer
		div(class="col-md-1 center-block quitar-float espacio-arriba")
			a(href="/admin") Administrador
