doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel="stylesheet" href="/css/animate.css")
		link(rel="stylesheet" href="/css/main.css")
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css')
		title Food Maracaibo
	body
		nav(class="padding-largo se-gris")
			ul(class="no-lista mediano")
				li(class="pacifico col-md-3 inline-block")
					a(href="/" class="verde") Food Facilito #[small(class="lato small") Vive convive y diviertete]
				li(class="col-md-3 inline block")
					a(href="/menu") Menú
					li(class="col-md-3 inline-block")
						a(href="acerca.html") Contacto
		block contenido
