body{
	font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 50px;
}
.espacio-derecha{
	margin-right: 1em;
}
.vete-arriba{
	vertical-align: top;
}
.padding-largo{
	padding: 5px 10px;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.grande{
	font-size: 3.5em;
}
.mediano{
	font-size: 1.5em;
}
.verde{
	color: #542665;
}
.se-gris{
	background-color: #eee;
}
a, .azul{
	color: #7BB100;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.retraso-0-5{
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
}
.retraso-1{
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
}
